<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="shortcut icon" href="images/favicon-32x32.png"/>
    <script src="https://kit.fontawesome.com/17cacf0970.js" crossorigin="anonymous"></script>
<body>
    <header id="mercado">
        <img src="images/logo-mercado-liebre.svg" alt="header" eight="20%"  with="10%" >
       <nav>
        <ul>
            <p><h1>Lugar para poner barra de busqueda</h1><br></p>
            <p><h3>Comprá en cuotas y sin tarjeta de crédito<br></h3></p>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
            <br>
            <li><a href="/">Creá tu cuenta</a></li>
            <li><a href="/">Ingresá</a></li>
            <li><a href="/">Mis compras</a></li>
        </ul>
       </nav>
    </header>
    <section>
        <img src="images/img-home-banner.jpg" alt="banner">
        <p><h3>Basado en tu última visita</h3></p>
        <article>
            <img src="images/img-cafetera-moulinex.jpg" alt="cafetera">
            <ul>
                <li><h4>$6.770</h4></li>
                <li><h4>40% OFF</h4></li>
                <li><h4>Cafetera Moulinex</h4></li>
            </ul>
        </article>
            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="macbook">
                <ul>
                    <li><h4>$230.000</h4></li>
                    <li><h4>20% OFF</h4></li>
                    <li><h4>MacBook Pro 2019</h4></li>
                </ul>
            </article>
            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="samgung s10">
                <ul>
                    <li><h4>$70.500</h4></li>
                    <li><h4>10% OFF</h4></li>
                    <li><h4>Samsung Galaxy s10</h4></li>
                </ul>
        </article>
        <article>
            <img src="images/img-tv-samsung-smart.jpg" alt="Smart TV">
            <ul>
                <li><h4>$23.200</h4></li>
                <li><h4>5% OFF</h4></li>
                <li><h4>SmartTv Samsung 43"</h4></li>
            </ul>
            <br>
        </article>
    </section>
    <section>
        <p><h3>Sección de Ofertas</h3></p>
        <article>
            <img src="images/img-cafetera-moulinex.jpg" alt="cafetera">
            <li><h4>$6.770</h4></li>
            <li><h4>40% OFF</h4></li>
            <li><h4>Cafetera Moulinex</h4></li>
        </article>
        <article>
            <img src="images/img-macbook-pro-2019.jpg" alt="macbook">
                <ul>
                    <li><h4>$230.000</h4></li>
                    <li><h4>20% OFF</h4></li>
                    <li><h4>MacBook Pro 2019</h4></li>
                </ul>
        </article>
        <article>
            <img src="images/img-samsung-galaxy-s10.jpg" alt="samgung s10">
                <ul>
                    <li><h4>$70.500</h4></li>
                    <li><h4>10% OFF</h4></li>
                    <li><h4>Samsung Galaxy s10</h4></li>
                </ul>
                <br>
        </article>
    </section>
    <footer>
        <h3>Pagá con targeta o en efectivo</h3>
        <p><h4>Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</h4></p>
            <h3>Envios gratis désde $2500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
            <h3>Seguridad de principio a fin</h3>
             <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
             <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </footer>
</body>
</html>