<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/favicon-32x32.png" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/17cacf0970.js" crossorigin="anonymous"></script>

<body>
    <header class="header">
        <img src="images/logo-mercado-liebre.svg" alt="header" eight="20%" with="10%">
        <section>
            <h1>Lugar para poner barra de busqueda</h1><br>
            <h3 class="subtitulo">
                <i class="fa-solid fa-hand-holding-dollar" style="color: #000000;"></i>
                Comprá en cuotas y sin tarjeta de crédito<br>
            </h3>
            <nav class="menu" id="nav">
                <ul class="lista">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                    <li><a href="/">Creá tu cuenta <i class="fa-sharp fa-regular fa-address-card"
                                style="color: #000000;"></i></a></li>
                    <li><a href="/">Ingresá <i class="fa-sharp fa-solid fa-right-to-bracket"
                                style="color: #050505;"></i></a></li>
                    <li><a href="/">Mis compras <i class="fa-sharp fa-solid fa-bag-shopping"
                                style="color: #000000;"></i>
                        </a></li>
                </ul>
            </nav>
            <button class="button" id="boton"><a href="" class="hamburguesa">
                    <i class="fa-solid fa-bars"></i>
                </a>
            </button>
        </section>
    </header>
</body>

</html>