@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --amarillo: #EAC926;
    --color-azul: #03264C;
    --color-celeste: #1259c3;
    --color-grisOscuro: #666;
    c
    --color-verde: #39b54a;
    --color-negro: black;
    --color-blanco: white;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ebebeb;
    margin: 2%;
}

.header {
    width: 100%;
    background-color: #EAC926;
    padding: 34px;
}

.subtitulo {
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
    font-size: 12px;
}

.hamburguesa {
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    margin: auto;
    display: block;
    background-color: var(--color-celeste);
    color: var(--color-blanco);
    max-width: 40px;
    padding: 8px 9px;
    position:absolute;
    right: 45%;
    top:290px;
}

.menu  {
    color: #000;
    display: inline-block;
    padding: 6px 0;
}

.banner {
    width: 100%;
    margin-bottom: 20px;
}

.subtitulo {
    color: #666;
    font-size: 24px;
    text-align: center;
}

.img img {
    width: 100%;
    margin: #777
}

.ofertas {
    font-size: 24px;
    text-align: center;
    color: #666;
}

.footer {
    width: 100%;
    padding: 20px;
    background-color: var(--color-blanco);
}

.icon-txt {
    text-align: center;
    padding: 20px;
    font-size: 12px;
}

.icon {
    font-size: 2em;
    margin-bottom: 10px;
}

.copyright {
    text-align: center;
    font: size 2em;
    margin: 0px 0px 10px 0px;
    color: #666
}

.off {
    color: #39b54a;
}

.logo i {
    position: relative;
}

.circle {
    border-radius: 60%;
    border: 2px solid var(--color-verde);
    padding: 5px;
    width: 30px 30px 30px 30px;
    height: 30px 30px 30px 30px;
}

.art {
    border: 1px solid #ebebeb;
    padding: 1px;
    box-shadow: 0px 40px 50px rgb(100, 100, 100);
}

.articulos {
    display: flex;
    background-color: #fff;
    margin: 1px 1px 10px 1px;
    flex-wrap: wrap;
    position:relative;
    padding: 25px;

}

.articulos h4{
    width: 40%;

}

.camion{
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -20%;
}

.producto{
    color:#777;
    font-size: 10px;
    position:absolute;
    top: 54px;
}

.button{
    display:0 ;

}
 
.main{
    background-color:#e0e0e0;
    padding: 60px;
}


@media  screen and (max-width:550px){
    .button
    .cerrar-button{
        display: block;
    }

    .menu{
        flex-direction: column;
        align-items: end;
        position: absolute;
        top:0;
        text-align: center;
        background-color: #EAC926;
        padding: 2px;
        opacity: 0;
        visibility: hidden;

    }

    .menu-visible{
        opacity: 1;
        visibility: visible;
        
    }


}